---
layout: default
---
{% capture show_comments %}{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}t{% endif %}{% endcapture %}
{% if page.author %}
{% assign author = page.author %}
{% else %}
{% assign author = site.author %}
{% endif %}
{% capture has_category %}{{ page.categories | category_links | size }}{% endcapture %}
<article class="entry" role="article">

    <header>
        <h2 class="entry_title">{{ page.title }}</h2>
        {% if page.meta %}
        <p class="meta">

        {% if page.date %}
        <time datetime="{{page.date}}" pubdate>{{page.date_formatted}}</time>
        {% endif %}

        {% if show_comments == 't' and page.date %}
        |
        {% endif %}

        {% if show_comments == 't' %}
        <a href="#disqus_thread">Comments</a>
        {% endif %}

        {% if category != '0' %}
        <span class="categories">
            {{ page.categories | category_links }}
        </span>
        {% endif %}

        </p>
        {% endif %}
    </header>

    <div class="entry_content">{{ content }}</div>

    <footer>
        <p class="meta">

        {% if page.author %}
        <span class="author">
            Posted by <span class="fn">{{ page.author }}</span>
        </span>
        {% endif %}

        {% if has_date != '0' %}
        <time datetime="{{page.date}}" pubdate>{{page.date_formatted}}</time>
        {% endif %}

        {% if category != '0' %}
        <span class="categories">
            {{ page.categories | category_links }}
        </span>
        {% endif %}

        </p>

        {% unless site.sharing == false or page.sharing == false%}
        <div class="sharing">

            {% if site.twitter_tweet_button %}
            <a href="http://twitter.com/share"
                class="twitter-share-button"
                data-url="{{ site.url }}{{ page.url }}"
                data-via="{{ site.twitter_user }}"
                data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
            {% endif %}

            {% if site.google_plus_one %}
            <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
            {% endif %}

            {% if site.facebook_like %}
            <div class="fb-like"
                data-send="true"
                data-width="450"
                data-show-faces="false"></div>
            {% endif %}
        </div>
        {% endunless %}

        {% if site.disqus_short_name and page.comments == true %}
        <section>
            <h3 id="comments">Comments</h3>
            <div id="disqus_thread" aria-live="polite">
                <noscript>
                    如果您不能看到评论，很可能是因为您的浏览器禁用了 Javascript。
                    (<a href="http://disqus.com/?ref_noscript">Disqus</a>)
                </noscript>
            </div>
        </section>
        {% endif %}
    </footer>
    {% if site.jiathis %}
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_reddit"></a>
        <a class="jiathis_button_fb"></a>
        <a class="jiathis_button_googleplus"></a>
        <a class="jiathis_button_instapaper"></a>
        <a class="jiathis_button_pocket"></a>
        <a class="jiathis_button_bitly"></a>
        <a class="jiathis_button_pdfonline"></a>
        <a class="jiathis_button_tumblr"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1407131467394207" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    {% endif %}
    <br />
    {% if site.uyan %}
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
    <!-- UY END -->
    {% endif %}
</div>
