---
layout: page
is_top: true
---
<div id="top">

    <div id="recent_posts">
        <h2>新的篇章</h2>

        <ul>
            {% for post in paginator.posts %}
            <li>
            <article>
            <a rel="full-article" href="{{ post.url }}">{{ post.title }}</a>
            （<time datetime="{{post.date}}" pubdate>{{post.date_formatted}}</time>）
            </article>
            </li>
            {% endfor %}
        </ul>

        <p><a href="/blog/archives">&laquo;旧的回忆</a></p>

    </div>


    <!-- include asides.html -->
    {% include asides.html %}
    <!-- /include asides.html -->

    <p><a href='http://www.flickr.com/photos/49968232@N00/8366320214' id='fs_1' title='Wooden bead letter W'><img alt='Wooden bead letter W' border='0' src='http://static.flickr.com/8074/8366320214_a46d338970_t.jpg' /></a>    <a href='http://www.flickr.com/photos/63943575@N00/8655979285' id='fs_2' title='i47'><img alt='i47' border='0' src='http://static.flickr.com/8102/8655979285_fa91d23a3f_t.jpg' /></a>    <a href='http://www.flickr.com/photos/49968232@N00/8584605647' id='fs_3'
        title='letter N'><img alt='letter N' border='0' src='http://static.flickr.com/8505/8584605647_d870c4728d_t.jpg' /></a>    <a href='http://www.flickr.com/photos/49968232@N00/8233882948' id='fs_4' title='LINGO Letter I'><img alt='LINGO Letter I' border='0' src='http://static.flickr.com/8057/8233882948_0170ecf43e_t.jpg' /></a>    <a href='http://www.flickr.com/photos/49968232@N00/8365344505' id='fs_5' title='Felt letter e'><img alt='Felt letter e' border='0'
        src='http://static.flickr.com/8093/8365344505_63280e72cb_t.jpg' /></a>    <a href='http://www.flickr.com/photos/49968232@N00/8365306275' id='fs_6' title='Dinosaur Puzzle Letter X'><img alt='Dinosaur Puzzle Letter X' border='0' src='http://static.flickr.com/8183/8365306275_eaacb8c05d_t.jpg' /></a></p>
    <p><a href="http://metaatem.net/words/">Spell With Flickr</a></p>
    
</div>
